:root {
  --clr-primary-dark:#202DDF;
  --clr-primary-light:#1E91E1;
  --clr-secondary:#1EE1CF;
  --clr-white: #f1f1f1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

